<!doctype html>
<html lang="en" class="box-border">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ayoub Abedrabbo</title>
    <script
      src="https://kit.fontawesome.com/e8d1b35a19.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-yellow-900">
    <img src="https://place-hold.it/100" alt="" />
    <h1>Ayoub Abedrabbo</h1>
    <p>
      I am a photographer & creator of videos about education, and photography
      tips.
    </p>
    <div>
      <a href="https://instagram.com/ayoubabedrabbo"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://discord.com/invite/ayoubab1"
        ><i class="fa-brands fa-discord"></i
      ></a>
      <a href="https://www.linkedin.com/in/ayoubabedrabbo/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://mastodon.social/@ayoubabedrabbo"
        ><i class="fa-brands fa-mastodon"></i
      ></a>
      <a href="https://metroviewposters.etsy.com/"
        ><i class="fa-brands fa-etsy"></i
      ></a>
      <a href="https://github.com/Today20092"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://t.me/AyoubAb1"><i class="fa-brands fa-telegram"></i></a>
      <a href="https://www.youtube.com/@ayoubthegreat"
        ><i class="fa-brands fa-youtube"></i
      ></a>
    </div>
    <div>
      <div>
        <a href="https://ko-fi.com/ayoubab1">Ko-Fi</a>
      </div>
      <div>
        <a href="https://cash.app/ayoubab1">Cash-App</a>
      </div>
      <div>
        <a href="https://venmo.com/u/Ayoub-Abedrabbo">Venmo</a>
      </div>
      <div>
        <a href="http://paypal.me/AyoubAbedrabbo">Paypal</a>
      </div>
    </div>
  </body>
</html>
