---
import '../styles.css';
---

<!doctype html>
<html lang="en" class="box-border">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ayoub Abedrabbo</title>
    <script
      src="https://kit.fontawesome.com/e8d1b35a19.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body
    class="mx-auto my-8 max-w-[90%] justify-center bg-yellow-900 pb-8 text-center text-lg lg:max-w-screen-md"
  >
    <img src="https://place-hold.it/100" alt="" class="m-auto" />
    <h1 class="my-4">Ayoub Abedrabbo</h1>
    <p class="my-4">
      I am a photographer & creator of videos about education, and photography
      tips.
    </p>
    <!-- icons -->
    <div class="my-4 flex flex-wrap items-center justify-center">
      <a class="mx-2" href="https://instagram.com/ayoubabedrabbo"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a class="mx-2" href="https://discord.com/invite/ayoubab1"
        ><i class="fa-brands fa-discord"></i
      ></a>
      <a class="mx-2" href="https://www.linkedin.com/in/ayoubabedrabbo/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a class="mx-2" href="https://mastodon.social/@ayoubabedrabbo"
        ><i class="fa-brands fa-mastodon"></i
      ></a>
      <a class="mx-2" href="https://metroviewposters.etsy.com/"
        ><i class="fa-brands fa-etsy"></i
      ></a>
      <a class="mx-2" href="https://github.com/Today20092"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a class="mx-2" href="https://t.me/AyoubAb1"
        ><i class="fa-brands fa-telegram"></i
      ></a>
      <a class="mx-2" href="https://www.youtube.com/@ayoubthegreat"
        ><i class="fa-brands fa-youtube"></i
      ></a>
    </div>
    <!-- link buttons -->

    <h2 class="my-4">My Channels</h2>
    <div>
      <div class="item-center justify-center">
        <a
          class="link bg-blue-400"
          href="https://www.youtube.com/@ayoubthegreat"
        >
          <img
            class="link-image"
            src="https://place-hold.it/50"
            alt=""
          />
          <span class="link-text">Youtube Channel</span>
        </a>
      </div>
      <div>
        <a href="https://www.youtube.com/@ayoubphotos">
          <img src="https://place-hold.it/50" alt="" />
          <span>My Photography Channel</span>
        </a>
      </div>
    </div>
    <!-- Next section of link buttions -->
    <h2 class="my-4">Support Me</h2>
    <div>
      <div>
        <a href="https://ko-fi.com/ayoubab1">
          <img src="https://place-hold.it/50" alt="" />
          <span>Ko-Fi</span>
        </a>
      </div>
      <div>
        <a href="https://cash.app/ayoubab1">
          <img src="https://place-hold.it/50" alt="" />
          <span>CashApp</span>
        </a>
      </div>
      <div>
        <a href="https://venmo.com/u/Ayoub-Abedrabbo">
          <img src="https://place-hold.it/50" alt="" />
          <span>Venmo</span>
        </a>
      </div>
      <div>
        <a href="http://paypal.me/AyoubAbedrabbo">
          <img src="https://place-hold.it/50" alt="" />
          <span>Paypal</span>
        </a>
      </div>
    </div>
    <!-- Next Section Of link -->
    <h2 class="my-4">Contact me</h2>
    <div>
      <div>
        <a href="https://www.tampashutter.net/vcard/ayoubabedrabbo.vcf">
          <img src="https://place-hold.it/50" alt="" />
          <span>Download my contact card</span>
        </a>
      </div>
      <div>
        <a href="https://matrix.to/#/@ayoubab:matrix.org">
          <img src="https://place-hold.it/50" alt="" />
          <span>Message me on Matrix</span>
        </a>
      </div>
    </div>
  </body>
</html>
