---
import "../styles.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="flex min-h-screen items-center justify-center bg-gray-50 px-16">
      <div class="relative w-full">
        <div
          class="animate-blob animation-delay-2000 absolute left-0 top-0 size-60 rounded-full bg-purple-500 opacity-80 mix-blend-normal blur-xl filter"
        >
        </div>
        <div
          class="animate-blob animation-delay-4000 absolute left-20 top-10 size-60 rounded-full bg-red-500 opacity-80 mix-blend-normal blur-xl filter"
        >
        </div>
        <div
          class="animate-blob absolute -top-20 left-40 size-60 rounded-full bg-yellow-500 opacity-80 mix-blend-normal blur-xl filter"
        >
        </div>
      </div>
    </div>
  </body>
</html>
